/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  outline: 0 !important; }

input:focus, select:focus {
  outline: none; }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../fonts/Lato/Lato-Hairline.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("../fonts/Lato/Lato-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/Lato/Lato-Black.ttf") format("truetype"); }
h1 {
  font-size: 2.25em;
  font-weight: 300; }

h3 {
  font-size: 1.375em;
  font-weight: 300;
  color: #000000; }

@media (min-width: 769px) {
  .grid {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row; } }
.grid-50 {
  width: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch; }
  @media (max-width: 768px) {
    .grid-50 {
      width: 100%; } }
  @media (max-width: 768px) {
    .grid-50__vertical {
      width: 100%; } }
.grid-100 {
  width: 100%; }
.grid div > div {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 50px; }
  .grid div > div.grid-white {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.7); }
  .grid div > div.grid-yellow {
    background-color: #FDD835;
    color: rgba(0, 0, 0, 0.7); }
  .grid div > div.grid-orange {
    background-color: #FF5722;
    color: #FFFFFF; }
  .grid div > div.grid-blue {
    background-color: #03A9F4;
    color: #FFFFFF; }
  .grid div > div.grid-purple {
    background-color: #B39DDB;
    color: #FFFFFF; }
  .grid div > div.grid-grey {
    background-color: #455A64;
    color: #FFFFFF; }
  .grid div > div.grid-green {
    background-color: #1DE9B6;
    color: rgba(0, 0, 0, 0.7); }

ul.urinals {
  text-align: center; }
  ul.urinals li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px; }
    ul.urinals li img {
      width: auto;
      height: 200px; }
    ul.urinals li .status {
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border-width: 6px;
      border-style: solid;
      border-color: #0398db; }
      ul.urinals li .status-busy {
        background-color: #FF5722; }
      ul.urinals li .status-free {
        background-color: #1DE9B6; }

body {
  background-color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  color: #000000; }

/*# sourceMappingURL=main.css.map */
