.urinals-content {
  > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &__list {
    margin-top: 10px;

    li {
      @include margin(null 10px null 10px);
      width: 12%;
      max-width: 93px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 100%;
        height: auto;
      }

      .status {
        @include margin(10px auto null auto);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border-width: 6px;
        border-style: solid;
        border-color: darken($blue, 5%);

        &-busy {
          background-color: $orange;
        }

        &-free {
          background-color: $green;
        }
      }
    }
  }

  &__metrics {
    color: darken($blue, 10%);
    font-weight: $bold;
    @include display(flex);
    @include flex-direction(row);

    li {
      @include margin(50px 10px null 10px);
      width: 100%;
      text-align: left;

      &:first-child {
        @include display(flex);
        @include justify-content(flex-end);
      }

      h3 {
        float: left;
        display: table-cell;
      }

      img {
        @extend h2;
        width: auto;
        height: 40px;
      }

      span {
        display: table-cell;
        padding-left: 10px;
        font-weight: $regular;
        line-height: 20px;
      }
    }
  }
}
