@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url("../fonts/Lato/Lato-Hairline.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url("../fonts/Lato/Lato-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url("../fonts/Lato/Lato-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url("../fonts/Lato/Lato-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url("../fonts/Lato/Lato-Black.ttf") format('truetype');
}

$light: 300;
$regular: 400;
$bold: 700;
$ultra-bold: 900;

$base-font-family: 'Lato', sans-serif;
$base-font-style: normal;
$base-font-weight: $regular;
$base-font-size: 100%;

h1 {
  font-size: em(36px);
  font-weight: $light;
}

// h2 {
//   font-size: em(30px);
//   font-weight: $light;
//
//   &.section-title {
//     margin-bottom: em(30px);
//     color: $cf-green-b1;
//   }
// }

h3 {
  font-size: em(22px);
  font-weight: $light;
  color: $text-color;
}

// a {
//   font-weight: $regular !important;
//   @include transition-duration(.2s);
//
//   &:hover {
//     text-decoration: none;
//   }
// }

// p {
//   font-size: em(22px);
//   color: $text-color;
// }

// .bold {
//   font-weight: $bold;
// }
