.grid {
  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .grid-sizer {
    @include respond-to('screen-xs') {
      width: 100%;
    }

    @include respond-to('screen-sm') {
      width: 100%;
    }

    @include respond-to('screen-md') {
      width: 50%;
    }

    @include respond-to('screen-xl') {
      width: 25%;
    }
  }

  .grid-item {
    @extend .grid-sizer;

    @include respond-to('screen-xs') {
      padding-bottom: 15px;
    }

    @include respond-to('screen-sm') {
      padding-bottom: 15px;
    }

    @include respond-to('screen-md') {
      @include padding(15px 15px 15px 15px);
    }

    &__100 {
      width: 100%;
    }
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  @include padding(0 15px 0 15px);

  &:before {
    content: "";
    display: table;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .col-xs-4 {
    float: left;
    width: 33.33333%;
    text-align: center;
  }

  .col-xs-6 {
    float: left;
    width: 50%;
  }

  .col-xs-12 {
    width: 100%;
  }

  @include respond-to('screen-sm') {
    .col-sm-6 {
      float: left;
      width: 50%;
    }
  }
}
