.grid {
  @include respond-to('screen-sm') {
    @include display(flex);
    @include flex-direction(row);
  }

  &-50 {
    width: 50%;
    @include display(flex);
    @include flex-direction(column);
    @include align-items(stretch);

    @include respond-to('screen-xs') {
      width: 100%;
    }

    &__vertical {
      @include respond-to('screen-xs') {
        width: 100%;
      }

      .metric-content {
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(flex-start);
        @include align-items(flex-end);

        h2 {
          line-height: 48px;
          padding-right: 6px;
        }
      }

    }
  }

  &-100 {
    width: 100%;
  }

  > div {
    > div {
      @include flex(1);
      @include padding(50px 50px 50px 50px);
      font-weight: $bold;

      &.grid-white {
        background-color: $white;
        color: darken($white, 40%);
      }

      &.grid-yellow {
        @include display(flex);
        background-color: $yellow;
        font-size: em(20px);
        color: darken($yellow, 25%);
      }

      &.grid-orange {
        background-color: $orange;
        color: darken($orange, 16%);
      }

      &.grid-blue {
        background-color: $blue;
        color: $white;
      }

      &.grid-purple {
        background-color: $purple;
        color: $white;
      }

      &.grid-grey {
        background-color: $grey;
        color: $white;
      }

      &.grid-green {
        background-color: $green;
        color: rgba($black, .7);
      }
    }
  }
}
