.grid {
  @include respond-to('screen-sm') {
    @include display(flex);
    @include flex-direction(row);
  }

  &-50 {
    width: 50%;
    @include display(flex);
    @include flex-direction(column);
    @include align-items(stretch);

    @include respond-to('screen-xs') {
      width: 100%;
    }

    &__vertical {
      @include respond-to('screen-xs') {
        width: 100%;
      }

      .metric-content {
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(flex-start);
        @include align-items(flex-end);

        h2 {
          line-height: 48px;
          padding-right: 6px;
        }
      }

    }
  }

  &-100 {
    width: 100%;
  }

  > div {
    > div {
      @include flex(1);
      @include padding(50px 50px 50px 50px);
      font-weight: $bold;

      &.grid-white {
        background-color: $white;
        color: darken($white, 40%);
      }

      &.grid-yellow {
        @include display(flex);
        background-color: $yellow;
        font-size: em(20px);
        color: darken($yellow, 25%);
      }

      &.grid-orange {
        background-color: $orange;
        color: darken($orange, 16%);
      }

      &.grid-blue {
        background-color: $blue;
        color: $white;
      }

      &.grid-purple {
        @include display(flex);
        background-color: $purple;
        font-size: em(20px);
        color: darken($purple, 15%);
      }

      &.grid-grey {
        background-color: $grey;
        color: darken($grey, 15%);
      }

      &.grid-green {
        background-color: $green;
        color: rgba($black, .7);
      }

      &.grid-chart {
        position: relative;
        @include padding(0 0 0 0);

        canvas {
          width: 100%;
          height: auto;
          @include margin(null null -6px null);
        }

        .metric-content {
          position: absolute;
          bottom: 0;
          @include padding(50px 50px 50px 50px);

          &__desc {
            font-size: em(20px);
          }
        }
      }
    }
  }
}
